/* FRONT > COMPONENTS > HOME > Home.js */

/* Home.js */
.home-container {
	display: flex;
	flex-direction: row;
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 85px;
}

.timeline-container {
	display: flex;
	flex-direction: column;
	width: 635px;
	margin-right: 15px;
}

.sidebar-container {
	display: flex;
	flex-direction: column;
	padding: 5px 5px;
	width: 325px;
}