/* FRONT > COMPONENTS > SIDEBAR > Sidebar.js
FRONT > COMPONENTS > SIDEBAR > RecommendBlogs.js
FRONT > COMPONENTS > SIDEBAR > BlogRadar.js */

/* Sidebar.js */
.sidebar-container {
	display: flex;
	flex-direction: column;
	padding: 10px 10px;
}

.sidebar-recommend-blogs-container {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	width: 100%;
	padding: 5px 5px;
}

.sidebar-blogradar-container {
	display: flex;
	padding: 5px 5px;
}

/* RecommendBlogs.js */
.recommend-blogs-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

/* BlogRadar */